body {
  background: rgb(36,202,204);
  background: radial-gradient(circle, rgba(36,202,204,1) 0%, rgba(83,142,162,1) 100%);
  font-family: 'Noto Sans TC', sans-serif;
  margin: 0px
}

.header-font {
  background: black;
}

.card-title {
  background-color: #6C757D;
  color: white;
  margin-top: 15px;
}

.txt {
  color: rgba(0,0,0,0);
}

.m-cont {
  margin-left: 150px;
}

/*code {
  font-family: 'Montserrat', sans-serif;
}*/
